#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.messages {
  padding: 0px;
}

.messages>li {
  list-style: none;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
}

.messages>li>time {
  font-size: 0.8rem;
  color: #888888;
  margin-bottom: 0.5rem;
}

form {
  width: 100%;
  display: flex;
  gap: 16px;
  padding-top: 16px;
}

form input {
  flex: 1;
  border-radius: 8px;
  border: 1px solid #888888;
  padding: 0px 8px;
}

form button {
  flex-shrink: 0;
}