main {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  margin: auto;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.search>input {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid transparent;
}

.logo {
  height: 24px;
  padding-right: 16px;
  width: auto;
  cursor: pointer;
}

.error {
  padding: 32px 0px 0px;
}

.error>img {
  width: 100%;
  max-width: 400px;
}

.results {
  margin: auto;
  padding: 32px 0px 0px;
  width: 100%;
  max-width: 700px;
  columns: 2;
  column-gap: 16px;
}

.results>img {
  width: 100%;
  margin-bottom: 16px;
}