.loader {
  @apply grid w-full gap-4 lg:grid-cols-2 xl:gap-8;
}

.loader-item {
  @apply rounded-xl bg-secondary/30 h-96;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}